<div class="col-md-4">
  <div class="card hoverable" id="country-<%= team.country_id %>">
  <%= image_tag default_image_team(team), alt: t(".alt"), class: "img-fluid" %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to team.name, details_teams_path(id: team.id) , class: "btn btn-primary btn-danger" %>
      </h4>
      <p class="card-text"><%= l team.establish_year, format: :long %></p>
    </div>
  </div>
</div>
