<div class="sidebar">
  <div class="news">
    <span></span>
    <ul>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
      <li>
        <a href="news.html"></a> <span></span>
      </li>
    </ul>
    <a href="news.html"></a>
  </div>
  <div class="section">
    <span></span>
    <ul>
      <li>
        <a href="schedule.html"></a> <span></span>
      </li>
      <li>
        <a href="schedule.html"></a> <span></span>
      </li>
      <li>
        <a href="schedule.html"></a> <span></span>
      </li>
      <li>
        <a href="schedule.html"></a> <span></span>
      </li>
      <li>
        <a href="schedule.html"></a> <span></span>
      </li>
    </ul>
    <a href="schedule.html"></a>
  </div>
  <div>
    <span></span>
    <ul>
      <li>
        <p>
          <a href="#"></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#"></a>
        </p>
      </li>
      <li>
        <p>
          <a href="#"></a>
        </p>
      </li>
    </ul>
  </div>
</div>
