<div class="blueberry">
  <ul class="slides">
    <li><img src="home/slider.jpg" /></li>
    <li><img src="home/slider.jpg" /></li>
    <li><img src="home/slider.jpg" /></li>
    <li><img src="home/slider.jpg" /></li>
  </ul>
  <ul class="pager">
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
    <li><a href="#"><span></span></a></li>
  </ul>
</div>
