<li>
  <span class="team_name"><%= round.name %></span>
  <div class="team_action">
    <a class="team_info" href="#">
      <i class="fa fa-info"></i>
    </a>
    <a class="team_remove" href="#">
      <i class="fa fa-times"></i>
    </a>
  </div>
  <div class="clear_both"></div>
</li>
