<div>
  <div>
    <h3></h3>
    <span><a href="videos.html"></a></span>
    <ul>
      <li>
        <a href="videos.html"><img src="images/video1.jpg" alt=""></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="videos.html"><img src="images/video2.jpg" alt=""></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="videos.html"><img src="images/video3.jpg" alt=""></a>
        <h4></h4>
        <p>

        </p>
      </li>
    </ul>
  </div>
  <div>
    <h3></h3>
    <span><a href="news.html"></a></span>
    <ul>
      <li>
        <a href="news.html"><img src="images/featured1.jpg" alt=""></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="news.html"><img src="images/featured2.jpg" alt=""></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="news.html"><img src="images/featured3.jpg" alt=""></a>
        <h4></h4>
        <p>

        </p>
      </li>
    </ul>
  </div>
</div>
