<div>
  <div>
    <h3></h3>
    <span><a href="videos.html"></a></span>
    <ul>
      <li>
        <a href="videos.html"></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="videos.html"></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="videos.html"></a>
        <h4></h4>
        <p>

        </p>
      </li>
    </ul>
  </div>
  <div>
    <h3></h3>
    <span><a href="news.html"></a></span>
    <ul>
      <li>
        <a href="news.html"></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="news.html"></a>
        <h4></h4>
        <p>

        </p>
      </li>
      <li>
        <a href="news.html"></a>
        <h4></h4>
        <p>

        </p>
      </li>
    </ul>
  </div>
</div>
