//Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,200');
@import 'froala_editor.min';
@import 'froala_style.min';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'colors';

//setup font face
@font-face {
    font-family: 'nucleo-icons';
    src: font-url("admin/nucleo-icons.eot");
    src: font-url("admin/nucleo-icons.eot") format("embedded-opentype"),      font-url("admin/nucleo-icons.woff2") format("woff2"),
    font-url("admin/nucleo-icons.woff") format("woff"),
    font-url("admin/nucleo-icons.ttf") format("truetype"),
    font-url("admin/nucleo-icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

//css for login pages
.wrapper-full-page {
    min-height: 100vh;
    height: 100%;
}

.wrapper-full-page .navbar {
    z-index: 1030;
}

.wrapper-full-page .navbar .nav-link i {
    font-size: 18px;
    position: relative;
    right: 10px;
    text-align: center;
}

.wrapper-full-page .navbar .nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.wrapper-full-page .navbar .nav-link:not(.btn):hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 0.1875rem;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.wrapper-full-page .navbar .navbar-nav .nav-item .nav-link {
    padding: 3px 15px;
}

.wrapper-full-page .footer {
    position: relative;
    z-index: 2;
    background: transparent;
}

.wrapper-full-page .footer .copyright {
    color: rgba(255, 255, 255, 0.7);
}

.wrapper-full-page .footer .copyright a {
    opacity: 1;
}
.full-page .full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.full-page:before,
.full-page:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.full-page:before {
    opacity: .33;
    background: #000000;
}

.full-page.register-page .content:first-of-type {
    padding-top: 10vh;
}

.full-page>.content {
    min-height: calc(100vh - 70px);
    z-index: 4;
    position: relative;
}

.full-page>.content .card-register .card-title {
    color: #FFFFFF;
}

.full-page>.content .card-register .card-subtitle {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 21px;
    color: #FFFFFF;
}

.full-page>.content .card-register .footer {
    background-color: transparent;
}

.full-page>.content .card-register .content {
    padding-top: 5%;
}

.full-page>.content .card-register .media {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.full-page>.content .card-register .media .icon {
    float: left;
    margin-right: 5px;
    margin-top: -3px;
}

.full-page>.content .card-register .media .icon i {
    font-size: 36px;
}

.full-page>.content .card-register .media .media-left,
.full-page>.content .card-register .media .media-body {
    display: table-cell;
    vertical-align: top;
}

.full-page>.content .card-register .media .media-body {
    overflow: hidden;
}

.full-page>.content .card-register .media h4 {
    margin: 0 0 5px 15px;
    text-align: left;
}

.full-page>.content .card-register .media p {
    text-align: justify;
    margin-left: 15px;
}

.full-page>.content:first-of-type {
    padding-top: 13vh;
}

.full-page.register-page .content {
    padding-top: 10vh;
}

.full-page[data-color="black"]:after {
    background: #797979;
    background: -moz-linear-gradient(top, #797979 0%, #797979 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #797979), color-stop(100%, #797979));
    background: -webkit-linear-gradient(top, #797979 0%, #797979 100%);
    background: -o-linear-gradient(top, #797979 0%, #797979 100%);
    background: -ms-linear-gradient(top, #797979 0%, #797979 100%);
    background: linear-gradient(to bottom, #797979 0%, #797979 100%);
    background-size: 150% 150%;
}

.full-page[data-color="blue"]:after {
    background: #1F77D0;
    background: -moz-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1F77D0), color-stop(100%, #533ce1));
    background: -webkit-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -o-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: -ms-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
    background: linear-gradient(to bottom, #1F77D0 0%, #533ce1 100%);
    background-size: 150% 150%;
}

.full-page[data-color="azure"]:after {
    background: #1DC7EA;
    background: -moz-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DC7EA), color-stop(100%, #4091ff));
    background: -webkit-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: -o-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: -ms-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
    background: linear-gradient(to bottom, #1DC7EA 0%, #4091ff 100%);
    background-size: 150% 150%;
}

.full-page[data-color="green"]:after {
    background: #87CB16;
    background: -moz-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, #6dc030));
    background: -webkit-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: -o-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: -ms-linear-gradient(top, #87CB16 0%, #6dc030 100%);
    background: linear-gradient(to bottom, #87CB16 0%, #6dc030 100%);
    background-size: 150% 150%;
}

.full-page[data-color="orange"]:after {
    background: #FFA534;
    background: -moz-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA534), color-stop(100%, #ff5221));
    background: -webkit-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -o-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -ms-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: linear-gradient(to bottom, #FFA534 0%, #ff5221 100%);
    background-size: 150% 150%;
}

.full-page[data-color="red"]:after {
    background: #FB404B;
    background: -moz-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, #bb0502));
    background: -webkit-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: -o-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: -ms-linear-gradient(top, #FB404B 0%, #bb0502 100%);
    background: linear-gradient(to bottom, #FB404B 0%, #bb0502 100%);
    background-size: 150% 150%;
}

.full-page[data-color="purple"]:after {
    background: #9368E9;
    background: -moz-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, #943bea));
    background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -o-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: -ms-linear-gradient(top, #9368E9 0%, #943bea 100%);
    background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
    background-size: 150% 150%;
}

.full-page[data-image]:after,
.full-page.has-image:after {
    opacity: .77;
}

.card.card-login {
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.card.card-login .form-check {
    margin-left: -12px;
}

.card.card-login.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

.wrapper-full-page .footer {
    position: relative;
    z-index: 2;
    background: transparent;
}

.wrapper-full-page .footer .copyright {
    color: rgba(255, 255, 255, 0.7);
}

.wrapper-full-page .footer .copyright a {
    opacity: 1;
}
.full-page-background{
    background-image: image-url('admin/full-screen-image-3.jpg')
}

.submit_button{
  text-align: center;
}

.image_cicle{
  border-radius: 50%;
}

.right{
  float: right;
}

.left{
  float: left;
}

.team{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.team li{
  list-style-type: none;
  padding: 5px 0px;
  border-bottom: $gray solid 1px;
}

.team li:last-child{
  border: none;
}

.team_name{
  color: $blue;
}

.clear_both{
  clear: both;
}

.team_info i{
  color: $green_light;
}
.team_remove i{
  color: $red_light;
}

.border-modal{
  border-bottom: #ccc solid 1px;
  border-top: #ccc solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.border-right{
  border-right: #ccc solid 1px;
}

.modal-resize-top{
  margin-top: -50px;
}

.margin-footer{
  display: inline-block;
}

.set-font-size{
  font-size: 13.5px;
}

.round_edit, .save-button{
  display: none;
}

.team_name input{
  display: none;
}
