<% provide :title, t(".title") %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= t ".edit_title" %></h4>
      </div>
      <div class="card-body ">
        <%= render partial: "form", locals: {url: admin_football_news_path(@football_new)} %>
      </div>
    </div>
  </div>
</div>
