<div class="sidebar" data-color="red" data-image="<%= image_path("admin/sidebar-5.jpg") %>">
  <div class="sidebar-wrapper">
    <div class="logo">
      <span class="simple-text"><%= t ".footbal_bet" %></span>
    </div>
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p><%= t ".dashboard" %></p>
        </a>
      </li>
    </ul>
  </div>
</div>
