<%= search_form_for [:admin, @q],
  class: "form-search" do |f| %>
  <div>
    <%= f.search_field :name_cont, class: "form-control col-sm-5 left name_field", placeholder: t(".search") %>
    <%= f.select(:continent_id_eq, Team.load_continents, {prompt: t(".by_continent")}, {class: "form-control col-sm-5 left"}) %>
    <%= f.submit t(".search_submit"), class: "btn btn-info search-submit" %>
    <div style="clear: both"></div>
  </div>
<% end %>
